<form (ngSubmit)="login()">
  <div>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <button type="submit">Iniciar sesión</button>
  <div class="botones">
    <button class="oauth" (click)="googleLogin()">Google</button>
    <button class="oauth" (click)="githubLogin()">Github</button>
  </div>
</form>

<div class="register">
<a href="/register">Registro</a>
</div>